<div id="content">
  <form action="/" method="POST">
		<fieldset>
		<legend>PWDgen</legend>
    <p>
			<label for="pwnum">Number of Passwords:</label>
			<input type="text" name="pwnum" id="pwnum" size="3">
		</p>
		<p>
    	<label for="pwlen">Length of Password(s):</label>
			<input type="text" name="pwlen" id="pwlen" size="3">
		</p>
	  <p class="submit"><input type="submit" value="Generate Passwords"/></p>
		</fieldset>
  </form>
</div>
